# 02 – Pandas Practice: Indexing by Rows and Columns

## Indexing and Selecting Data

Pandas provides multiple ways to access and select data from a DataFrame using row labels, column labels, and integer positions.  
Pandas data types are slightly different from Python’s built-in data types.

---

### Indexing by Columns
- **`df['column_name']`**  
  Selects a single column and returns something called a **Series**.  
  Allows us to index all the values that are inside the selected column.

- **`df[['col1', 'col2']]`**  
  Selects multiple columns and returns a **DataFrame**.

---

### Indexing by Rows

> **`iloc`** can be understood as **index location** (integer-based indexing).

- **`df.iloc[row_index]`**  
  Selects **all values** for the row at the specified integer index.

- **`df.iloc[start:end]`**  
  Selects a range of rows using integer positions  
  (start is inclusive, end is exclusive).

---

### Indexing by Row Labels

> **`loc`** is used for **label-based indexing**.

- **`df.loc[row_label]`**  
  Selects all values for the row with the specified index label.

- **`df.loc[start_label:end_label]`**  
  Selects a range of rows by label  
  (both start and end labels are inclusive).

---

### Selecting Rows and Columns Together
- **`df.loc[row_label, column_name]`**  
  Selects a specific value using row and column labels.

- **`df.iloc[row_index, column_index]`**  
  Selects a specific value using integer positions.

In [2]:
import pandas as pd
df =  pd.read_csv('orders.csv')

In [ ]:
df["Country"]  #returns all the values in the Country column, as a Series

In [7]:
print("Number of countries:", len(df["Country"]))  #returns the number of entries in the Country column

Number of countries: 40

In [9]:
#we can also reference multiple columns at once by passing a list of column names to the indexing operator
df[["Country", "Product"]]  #returns a DataFrame with just the Country and Item Type columns

         Country                Product
0            USA                 Laptop
1         Canada             Headphones
2            UAE           Office Chair
3      Singapore              Desk Lamp
4         Mexico               Keyboard
5            UAE               Notebook
6             UK          Standing Desk
7    South Korea                Monitor
8          Italy                    Pen
9          Japan                  Mouse
10        France                 Webcam
11         India           File Cabinet
12     Australia                Stapler
13         Spain              USB Drive
14         China              Bookshelf
15         Egypt          Printer Paper
16        Poland         Wireless Mouse
17           USA         Desk Organizer
18         Japan             Calculator
19  Saudi Arabia             Whiteboard
20        Canada           Highlighters
21        Brazil      Bluetooth Speaker
22       Germany           Office Plant
23      Pakistan           Sticky Notes
24        Sweden           Tablet Stand
25        France         Paper Shredder
26     Argentina         Desk Chair Mat
27        Russia           Binder Clips
28   South Korea      Wireless Keyboard
29         Italy          Desk Calendar
30       Morocco                USB Hub
31       Germany       Document Scanner
32      Colombia  Desk Drawer Organizer
33           USA            Index Cards
34         Japan          Monitor Stand
35            UK     Desk Lamp with USB
36      Portugal       Wireless Earbuds
37          Iran               Desk Pad
38   South Korea            Power Strip
39       Ukraine             Desk Clock

In [14]:
df.iloc[0]  #returns the first row of the DataFrame as a Series

OrderID                1001
CustomerName     John Smith
Product              Laptop
Category        Electronics
Quantity                  1
Price                1200.0
OrderDate        2024-06-01
Shipped                 Yes
Country                 USA
Name: 0, dtype: object

In [28]:
list(df.iloc[0])  #returns the values in the first row as a list

[1001,
 'John Smith',
 'Laptop',
 'Electronics',
 1,
 1200.0,
 '2024-06-01',
 'Yes',
 'USA']

In [ ]:
df.iloc[10]["Country"] #returns the value in the Country column of the 11th row

'France'

In [30]:
df.iloc[10]["Shipped"]  #returns the valbue in the Shipped Date column of the 11th row

'Yes'

In [ ]:
df.iloc[10][0]  #returns the same value, since Country is the first column
df.iloc[10][2]  #returns the value in the Product column of the 11th row, since Product is the third column
#trating keys as positions is deprecated and will be removed in a future version of pandas. Use .iloc[] or .loc[] accessors instead.

C:\Users\qk710\AppData\Local\Temp\ipykernel_35064\2194682648.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[10][0]  #returns the same value, since Country is the first column
C:\Users\qk710\AppData\Local\Temp\ipykernel_35064\2194682648.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[10][2]  #returns the value in the Product column of the 11th row, since Product is the third column

'Webcam'